<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../shared-styles.html">


<dom-module id="fk08-news-entrie">
    <template>
        <style include="shared-styles">
            :host {}

            img {
                max-width: 100%;
                height: auto;
            }
        </style>

        <div id="entrie"></div>
    </template>

    <script>
        Polymer({
            is: 'fk08-news-entrie',

            properties: {
                entrie: {
                    type: Object,
                    observer: 'test',
                    notify: true,
                }
            },

            test: function(event) {
                this.$.entrie.innerHTML = event;
                console.log('Entrie:', Polymer.dom(this.$.entrie));
            },
        });
    </script>
</dom-module>