<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="shared-styles.html">

<link rel="import" href="./fk08-mensa/fk08-mensa-element.html">
<link rel="import" href="./fk08-events/fk08-events-element.html">

<dom-module id="overview-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle">08</div>
      <h1>Fachschaft 08 - Geoinformation</h1>
      <p>Willkommen zu unserer App</p> 
    </div>

    <fk08-mensa-element></fk08-mensa-element>
    
    <fk08-events-element></fk08-events-element>
  </template>

  <script>
    Polymer({
      is: 'overview-view'
    });
  </script>
</dom-module>
