<link rel="import" href="../../bower_components/polymer/polymer.html">

<!-- Polymer Elements -->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!-- Custom Elements -->


<!-- Style -->

<dom-module id="fk08-events-data">
    <template>
        <iron-ajax id="ajax" url="./events.json" last-responde="{{res}}" handle-as="json" on-response="_onResponse" auto></iron-ajax>
    </template>
    <script>
        Polymer({
            is: 'fk08-events-data',

            properties: {
                events: {
                    type: Array,
                    value: [],
                    notify: true,
                    reflect: true,
                }
            },

            ready: function() {
                this.$.ajax.generateRequest();
            },

            // Private Functions
            _onResponse: function () {
                console.log('Response:', event);
                if (event != null && event.detail.response != null
                    && event.detail.response.data != null
                ) {
                    // Sort by date
                    var data = event.detail.response.data;

                    data.sort(function (a, b) {
                        function dateToNumber(d) {
                            var dateTime = d.split(', ');
                            var date = dateTime[0];
                            var time = dateTime[1];

                            // Date to number
                            var dt = date.split('.');
                            var nd = dt[2] + dt[1] + dt[0];

                            // Time to number
                            var tt = time.split(':');
                            var nt = tt[0] + tt[1];

                            return parseInt(nd + nt);
                        }

                        var na = dateToNumber(a.start);
                        var nb = dateToNumber(b.start);
                        if (na.start < nb.start) return -1;
                        if (na.start > nb.start) return 1;
                        return 0;
                    });
                    this.events = data;
                }
            },
        });
    </script>
</dom-module>