<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../shared-styles.html">

<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="./fk08-events-data.html">

<dom-module id="fk08-events-view">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
                padding: 10px;
            }
            
            .date {
                color: gray;
                font-size: 10pt;
            }
            
            .host {
                color: lightgray;
                text-align: right;
                font-size: 10pt;
            }
        </style>

<fk08-events-data events="{{events}}"></fk08-events-data>

<template is="dom-repeat" items="{{events}}" as="event">
    <paper-card heading="{{event.name}}">
        <div class="card-content">
            <p>
                {{event.description}}
            </p>
            <p class="date">Beginn am {{event.start}}
                <br>Location: {{ event.location }}</p>
            <p class="host">Ausrichter: {{event.host}}</p>
        </div>
    </paper-card>
</template>
</template>

<script>
        Polymer({
            is: 'fk08-events-view',

            properties: {
                events: {
                    type: Array,
                    notify: true,
                    value: [],
                }
            },

            ready: function () {
                
            },
        });
    </script>
</dom-module>