<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="fk08-mensa-data">
	<template>
		<iron-ajax auto url="https://www.openmensa.org/api/v2/canteens/{{canteenNumber}}/days/{{parseDate}}/meals" handle-as="json" last-response="{{meals}}"
			debounce-duration="300" on-error="_onError"></iron-ajax>
	</template>

	<script>
    Polymer({
      is: 'fk08-mensa-data',

      properties: {
          meals: {
              type: Object,
              notify: true,
              reflect: true,
          },
          canteenNumber: {
              type: Number,
              value: 232,
          },
          date: {
              type: Object,
              value: null,
              reflect: true,
              notify: true,
              observer: 'test',
          },
          parseDate: {
              type: String,
              value: '2016-11-10',
          },
          isEmpty: {
              type: Boolean,
              reflect: true,
              notify: true,
              value: false,
          }
      },

      test: function(event) {
          this.parseDate = this._toSpecialDateString(event);
          console.log('Meals:', event, this.parseDate);
      },

      _toSpecialDateString: function(date) {
          var str = '';

          if (date != null && date instanceof Date) {
              str += date.getFullYear();
              str += '-';
              if (date.getMonth() + 1 < 10) {
                  str += 0;
              }
              str += date.getMonth() + 1;
              str += '-';
              if (date.getDate() < 10) {
                  str += 0;
              }
              str += date.getDate();

              return str;
          }
      },

      _onError: function(event) {
          console.error('ERROR:', event);
          this.meals = [];
          this.isEmpty = true;
      },
    });
  </script>
</dom-module>